/* Quitarle al navbar el margen y borde predefinidos*/
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Mi foto que salga pegada al navbar */
.image-fluid {
    top: 0;
    width: 100%;
    height: 100%;
}

/* Agregar un pie de página y padding */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}